:root {
  --primary-color-1: #deaa86;
  --light-grey: #eee;
  --dark-grey: #222;
  --year-color: #555;
  --icon-color: #777; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif; }

/* ========================================================================== */
/* SIDEBAR COMPONENTS */
/* ========================================================================== */
.menu-icon {
  margin-top: 3rem;
  cursor: pointer; }
  .menu-icon .line {
    height: .2rem;
    width: 2.5rem;
    background-color: var(--dark-grey);
    margin-bottom: .6rem; }
  .menu-icon .line-1, .menu-icon .line-3 {
    width: 1.8rem;
    transition: width .3s; }
  .menu-icon:hover .line {
    width: 2.5rem; }

.social-icons-list {
  list-style: none;
  padding: 0;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  .social-icons-list .social-link {
    font-size: 2rem;
    color: var(--icon-color);
    transition: color .3s; }
    .social-icons-list .social-link:hover {
      color: var(--primary-color-1); }

.year {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--year-color); }

/* ========================================================================== */
/* NAVIGATION COMPONENTS */
/* ========================================================================== */
.navigation__heading {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  letter-spacing: .2rem;
  color: var(--primary-color-1);
  text-align: center; }

.navigation__search-input {
  width: 30rem;
  padding: 1rem 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  color: var(--primary-color-1);
  letter-spacing: .1rem;
  outline: none;
  border: 0.1rem solid var(--year-color);
  border-radius: 10rem;
  transition: background-color .3s; }
  .navigation__search-input:focus {
    background-color: rgba(0, 0, 0, 0.1); }

.navigation__search-btn {
  border: none;
  background-color: transparent;
  color: var(--primary-color-1);
  font-size: 1.7rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer; }
  .navigation__search-btn:focus {
    outline: none; }

/* ========================================================================== */
/* SIDEBAR */
/* ========================================================================== */
.sidebar {
  width: 8rem;
  height: 100%;
  background-color: var(--light-grey);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }

/* ========================================================================== */
/* NAVIGATION */
/* ========================================================================== */
.navigation {
  margin-left: 8rem;
  position: fixed;
  width: 40rem;
  height: 100%;
  background: linear-gradient(to top, #222029, rgba(34, 32, 41, 0.8)), url("../img/nav-bg.jpeg") center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .navigation__search {
    position: relative; }
