:root {
    --primary-color-1: #deaa86;
    --lighter-grey: #ddd;
    --light-grey: #eee;
    --dark-grey: #222;
    --dark-grey-2: #333;
    --year-color: #555;
    --icon-color: #777;
    --underline-color: #bd5d1c;
    --card-color: #15141b;
    --footer-background: #1c1c1c;
}

@keyframes anim {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}
