/* ========================================================================== */
/* SIDEBAR COMPONENTS */
/* ========================================================================== */
.menu-icon {

    margin-top: 3rem;
    cursor: pointer;

    .line {
        height: .2rem;
        width: 2.5rem;
        background-color: var(--dark-grey);
        margin-bottom: .6rem;
    }

    .line-1, .line-3 {
        width: 1.8rem;
        transition: width .3s;
    }

    &:hover .line{
        width: 2.5rem;
    }
}

.social-icons-list {
    padding: 0;
    height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .social-link {
        font-size: 2rem;
        color: var(--icon-color);
        transition: color .3s;

        &:hover {
            color: var(--primary-color-1);
        }
    }
}

.year {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    color: var(--year-color);
}

/* ========================================================================== *
/* NAVIGATION COMPONENTS */
/* ========================================================================== */
.navigation {

    &__heading {
        font-family: "Josefin Sans", sans-serif;
        font-size: 3.5rem;
        font-weight: 300;
        letter-spacing: .2rem;
        color: var(--primary-color-1);
        text-align: center;
    }

    &__search-input {
        width: 30rem;
        padding: 1rem 2rem;
        background-color: rgba(0, 0, 0, .3);
        font-family: "Josefin Sans", sans-serif;
        font-size: 1.6rem;
        color: var(--primary-color-1);
        letter-spacing: .1rem;
        outline: none;
        border: .1rem solid var(--year-color);
        border-radius: 10rem;
        transition: all .3s;

        &:focus {
            background-color: rgba(0, 0, 0, .1);
            width: 33rem;
        }
    }

    &__search-btn {
        border: none;
        background-color: transparent;
        color: var(--primary-color-1);
        font-size: 1.7rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }

    
    &__list {
        padding: 0;
        height: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__item {
        position: relative;
    }

    &__link {
        color: #fff;
        font-size: 1.6rem;
        font-weight: 400;
        letter-spacing: .1rem;
        text-transform: uppercase;
        transition: color .5s;

        &::before {
            content: "";
            width: 0rem;
            height: .1rem;
            background-color: var(--primary-color-1);
            position: absolute;
            top: 1rem;
            left: -4rem;
            transition: width .5s cubic-bezier(1, 0, 0, 1);
        }

        &::after {
            content: "";
            width: 0rem;
            height: .1rem;
            background-color: var(--primary-color-1);
            position: absolute;
            top: 1rem;
            right: -4rem;
            transition: width .5s cubic-bezier(1, 0, 0, 1);
        }

        &:hover {
            color: var(--primary-color-1);

            &::before, &::after {
                width: 3rem;
            }
        }
    }

    .copyright {
        color: #fff;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
    }
}