/* ========================================================================== */
/* SIDEBAR */
/* ========================================================================== */
.sidebar {
    width: 8rem;
    height: 100%;
    background-color: var(--light-grey);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-shadow: 0 1px 1px 1px var(--lighter-grey);
}

/* ========================================================================== */
/* NAVIGATION */
/* ========================================================================== */
.navigation {
    position: fixed;
    left: -32rem;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, .8)) ,url("../img/nav-bg.jpeg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: left .8s cubic-bezier(1, 0, 0, 1);

    &__search {
        position: relative;
    }
}

// The checkbox
.checkbox:checked ~ .navigation {
    left: 8rem;
}

// The menu icon
.checkbox:checked ~ .sidebar .line-1 {
    transform: rotate(-405deg) translate(-5px, 6px);
    width: 2.5rem;
}
.checkbox:checked ~ .sidebar .line-2 {
    opacity: 0;
}
.checkbox:checked ~ .sidebar .line-3 {
    transform: rotate(405deg) translate(-5px, -6px);;
    width: 2.5rem;
}

/* ========================================================================== */
/* HEADER*/
/* ========================================================================== */
.header {
    margin-left: 8rem;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, .6), rgba(0, 0, 0, .5)),url("../img/header-2.jpg") center no-repeat;
    background-size: cover;
}

/* ========================================================================== */
/* ABOUT US */
/* ========================================================================== */
.about-us {
    margin-left: 8rem;
    display: flex;
    background-color: var(--lighter-grey);
}