/* ========================================================================== */
/* SIDEBAR */
/* ========================================================================== */
.sidebar {
    width: 8rem;
    height: 100%;
    background-color: var(--light-grey);
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* ========================================================================== */
/* NAVIGATION */
/* ========================================================================== */
.navigation {
    margin-left: 8rem;
    position: fixed;
    width: 40rem;
    height: 100%;
    background: linear-gradient(to top, rgba(34, 32, 41, 1), rgba(34, 32, 41, .8)) ,url("../img/nav-bg.jpeg") center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__search {
        position: relative;
    }
}